name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Verify artifacts exist
        run: |
          ls -R artifacts
          if [ ! -f artifacts/ticket_classifier_pipeline.joblib ]; then echo "Missing model file!"; exit 1; fi

      - name: Run tests
        run: |
          pytest -q
